*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body{
    background-color: rgb(255, 255, 255);
    color: #fff;
    background-image: url("/Tarea002-/views/src/palace.jpg"); /* Reemplaza con la ruta de tu imagen */
    background-size: cover; /* Hace que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen en la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Hace que la imagen se mantenga fija al hacer scroll */
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 10px 5%;
    background-color: rgba(0, 0, 0, 0.5); /* Ajusta los valores para lograr el nivel de transparencia deseado */
    z-index: 1000; /* Asegura que el nav esté encima de otros elementos */
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 50px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .links{
    list-style: none;
}

.header .links li{
    display: inline-block;
    padding: 0 30px;
}

.header .links li:hover{
    transform: scale(1.1);
}

.header .links a{
    font-size: 700;
    color: #fff;
    text-decoration: none;
}

.header .links li a:hover{
    color: black;
}

.header .btn button{
    font-weight: 700;
    color: rgba(51, 58, 71, 0.5);;
    padding: 8px 22px;
    background-color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    transform: scale(1.1);
}

  main#index .main-top {
    
    height: 100%;
   
}
main#index .sub-top {
    width: 1000px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo negro con 70% de opacidad */
    display: flex; /* Mantén flexbox para centrado */
    flex-direction: column; /* Apila los elementos verticalmente */
    justify-content: center; /* Centra horizontalmente */
    align-items:flex-end; /* Centra verticalmente */
    color: white; /* Asegura que el texto se vea blanco */
    text-align: center;
    padding: 0% 2% 0% 0%;
    margin: 19% 0% 0% 0%;
    
}

main#index .main-top .present {
    font-size: 40px;
    font-family: "Playfair Display", serif;
    margin-bottom: 10px; /* Espacio debajo del título */
}

main#index .main-top .sub-present {
    font-size: 20px;
    font-family: "Playfair Display", serif;
}
main#index .hero {
   /* height: 1000px;
    background-color: rgb(0, 0, 0);  Fondo negro con 70% de opacidad */
    margin: 20px  0px 5px 20px ;
    padding: 20px  15px 0px 15px;
    color: rgb(255, 255, 255); /* Asegura que el texto se vea blanco */
    text-align: center;
}
main#index .hero #contexto-inicio{
    background-color: rgba(0, 0, 0, 0.87);
    font-size: 30px;
    font-family: "Playfair Display", serif;
    padding: 10px 60px 10px 60px;
}
main#index .featured-categories{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0); /* Fondo negro con 70% de opacidad */
    margin: 20px auto;
    padding: 20px;
    color: rgba(255, 255, 255, 0.925); /* Asegura que el texto se vea blanco */
    text-align: center;
    
}

main#index .galeria {
    background-color: rgba(44, 44, 44, 0.596);
    display: flex;
    flex-wrap: nowrap; /* No permitir el ajuste a la siguiente línea */
    justify-content: center;
    overflow: hidden; /* Ocultar el desbordamiento */
    
}

main#index .imagen {
    position: relative;
    width: 25%; /* Ancho reducido de la imagen */
    height: 500px; /* Alto de la imagen */
    margin: 0px; /* Espacio entre imágenes */
    transition: width 0.5s ease, opacity 0.5s ease; /* Transiciones para el efecto */
    cursor: pointer; /* Cambia el cursor al pasar sobre la imagen */
}

main#index .imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen */
}

main#index .descripcion {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro con opacidad */
    color: white;
    padding: 10px;
    transform: translateY(100%); /* Esconde el texto inicialmente */
    transition: transform 0.3s ease; /* Transición para el texto */
    text-align: center;
}

main#index .imagen:hover {
   width: 100%;/* Aumenta el tamaño de la imagen al pasar el mouse */
    z-index: 1; /* Lleva la imagen al frente */
}

main#index .imagen:hover .descripcion {
    transform: translateY(0); /* Muestra el texto al pasar el mouse */
}

/* Reduce el tamaño de las imágenes que no están activas */
main#index .imagen:not(:hover) {
  
    opacity: 0.5; /* Opcional: reduce la opacidad de las imágenes no activas */
    transition: opacity 0.5s ease;
}